<div class="jumbotron bg bg-no-pic col-10">
  <h1 class="text-center mt-2 mb-4 display-5 title">Log In</h1>
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with scope: :session, url: login_path, local: true do |f| %>

        <div class="form-group row">
          <%= f.label :email, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.email_field :email, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :password, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row justify-content-center mt-4">
          <%= f.submit "Log In", class: "btn btn-green" %>
          <%= link_to 'Cancel & Return to Home', root_path, class: "btn btn-brown" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
