<%= render "layouts/enjoy_more" %>
<%= render 'layouts/msgs' %>
<div class="card card-articles text-center mt-3 mb-4">
  <div class="card-header pb-2 pt-3">
    <%= edit_button %>
    <%= delete_button %>
    <h1 class= "title mb-1"><%= @article.title %></h1>
    <h6><%= time_ago_in_words(@article.created_at) %> ago</h6>
    <h3><%= render @article.categories %></h3>
  </div>
  <div class="card-body text">
    <h6 class="card-title font-italic mt-2 mb-4">by <%= link_to (gravatar_for @user, size: 35), @user %> <%= link_to @user.username, @user, class: "link-blue" %></h6>
    <%= simple_format(@article.content) %>
  </div> 
  <div class="card-footer">
    <%= edit_button %>
    <%= delete_button %>
  </div>
</div>
<%= render "layouts/enjoy_more" %>
