<div class="jumbotron bg-create col-8 mt-3 mb-4">
  <%= render 'layouts/msgs' %>
  <div class="text-center">
    <div>
      <% if logged_in? && @user == current_user %>
        <%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn btn-orange mx-3 mb-4" %>
      <% end %>
      <% if logged_in? && (@user == current_user || current_user.admin?) %>
        <%= link_to 'Delete Account', user_path(current_user), class: "btn btn-red mx-3 mb-4", method: :delete, data: {confirm: "This will also delete all articles and cannot be undone! Are you sure?"} %>
      <% end %>
    </div><br/>
    <div id="special" class="float-left">
      <%= gravatar_for @user, size: 200 %>
    </div>
    <div>
      <h1 class="text-center mt-3 title"><%= @user.username %></h1>
      <h6 class="text-center mt-2 mb-4"><%= @user.email %></h6>
      <h4 class="text-center mt-2 mb-2"><%= pluralize(@articles.count, "Article") %></h4>
      <h5 class="text-center mt-2 mb-3"><i>Joined <%= time_ago_in_words(@user.created_at) %> ago</i></h5>
    </div>
  </div>
  <br/><br/>
  <p><%= @user.bio %></p>
</div>

<%= will_paginate @articles, class: "apple_pagination mb-1" %>
<% @articles.each do |article| %>
  <%= render article %>
<% end %>
<%= will_paginate @articles, class: "apple_pagination mb-1" %>
