<%= render 'layouts/msgs' %>
<div class="jumbotron bg bg-no-pic col-10 my-4">
  <%= edit_button %>
  <%= delete_button %>
  <h1 class= "text-center display-4 title"><%= @category.name %></h1>
</div>
<% will_paginate @category_articles, class: "apple_pagination mb-1" %>
<%= render @category.articles %>
<% will_paginate @category_articles, class: "apple_pagination mb-1" %>
