<nav class="navbar sticky-top navbar-expand-lg px-4">
  
  <%= link_to "LovelyBlog", root_path, class: "link-blue my-1 mr-5", id: "logo" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if logged_in? %>
        <li class="nav-item active">
          <%= link_to current_user.username + (current_user.admin? ? " (Admin)" : ""), user_path(current_user), class: "nav-link link-black mr-4" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Log Out", logout_path, method: :delete, class: "nav-link link-black" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Write", new_article_path, class: "nav-link link-black" %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Log In", login_path, class: "nav-link link-black" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign Up", signup_path, class: "nav-link link-black" %>
        </li>
      <% end %>
      <li class="nav-item active">
        <%= link_to "Articles", articles_path, class: "nav-link link-black" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Bloggers", users_path, class: "nav-link link-black" %>
      </li>
      <li class="nav-item active">
        <%= link_to "About", about_path, class: "nav-link link-black" %>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" aria-label="Search">
      <button class="btn btn-blue my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
