<!DOCTYPE html>
<html>
  <head>
    <title>LovelyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
      <%= render 'layouts/nav' %>
    <div id="page-content">
      <%= render 'layouts/msgs' %>
      <%= yield %>
    </div>
  </body>

  <footer id="sticky-footer" class="py-4 mt-5">
    <div class="container text-center">
      <small>Copyright &copy; Scott Hoisington</small>
    </div>
  </footer>
</html>
