<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LovelyBlog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body class="d-flex flex-column">
      <%= render 'layouts/nav' %>
    <div id="page-content">
      <%= render 'layouts/msgs' %>
      <%= yield %>
    </div>
  </body>

  <footer id="sticky-footer" class="py-2">
    <div class="text-center">
      <small>Copyright &copy; <%= Time.now.year %> Scott Hoisington </small>
    </div>
  </footer>
</html>
